.projectCategorieBlock {
    width: 568px;
    height: 320px;
    display: flex;
    flex-direction: column;
    background-color: #69C034;
}

.projectCategorieBlock__row {
    width: inherit;
    height: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.projectCategorieBlock__row img {
    width: 127px;
    height: 135px;
    border-radius: 10px;
    margin: 5px;
}