.band {
    width: 245px;
    height: inherit;
    background-color: rgba(46, 46, 46, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.band-img {
    width: 228px;
    height: 110px;
    margin-bottom: 5px;
    opacity: 0.3;
}