.linkStyle{
    position: absolute;
    top:0;
    width: 34px;
    height: 2880px;
    right: 0;
    opacity:0;
    transition: all 0.2s;
}
.linkStyle:hover{
    background-color: #fff;
    opacity: 0.1;
}